<%- include("header") -%>

<h1>Hi, This is Asibul Hasan Fahim</h1>
<p>
  I am a student of computer science and Engingeering.
  Nowadays I am learning FullStack Web Development with
  Dr. Angela Yu!
  I like the way she teaches. I really enjoy learning from her.
</p>

<%- include("footer") -%>
